src/main/resources/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- ===================== -->
  <!-- Simple Types -->
  <!-- ===================== -->

  <xs:simpleType name="Name40Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CompanyNameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="75"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AddressLineType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="75"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CityType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PhoneNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{10,12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200"/>
      <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CustomerIdType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===================== -->
  <!-- Enumerations -->
  <!-- ===================== -->

  <xs:simpleType name="SpeedFcShippingCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SMRT"/>
      <xs:enumeration value="FGHM"/>
      <xs:enumeration value="USGA"/>
      <xs:enumeration value="FEG"/>
      <xs:enumeration value="FSP"/>
      <xs:enumeration value="FXPX"/>
      <xs:enumeration value="UPM"/>
      <xs:enumeration value="PB1"/>
      <xs:enumeration value="FDIP"/>
      <xs:enumeration value="UFCM"/>
      <xs:enumeration value="FEPO"/>
      <xs:enumeration value="FEES"/>
      <xs:enumeration value="FEGD"/>
      <xs:enumeration value="FREIGHT"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===================== -->
  <!-- Root -->
  <!-- ===================== -->

  <xs:element name="Orders">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="OrderCollection">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="OrderNumber" type="xs:string"/>
              <xs:element name="OrderCode" type="xs:string"/>
              <xs:element name="CreateDatetime" type="xs:dateTime"/>
              <xs:element name="SiteId" type="xs:string"/>

              <!-- BillingAddress is MANDATORY + VALIDATED -->
              <xs:element name="BillingAddress" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FirstName" type="Name40Type"/>
                    <xs:element name="LastName" type="Name40Type"/>
                    <xs:element name="CompanyName" type="CompanyNameType" minOccurs="0"/>
                    <xs:element name="EmailAddress" type="EmailType"/>
                    <xs:element name="AddressLine1" type="AddressLineType"/>
                    <xs:element name="AddressLine2" type="AddressLineType" minOccurs="0"/>
                    <xs:element name="City" type="CityType"/>
                    <xs:element name="State" type="xs:string"/>
                    <xs:element name="PhoneNumber" type="PhoneNumberType"/>
                    <xs:element name="CountryCode" type="CountryCodeType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!-- CustomerId VALIDATED -->
              <xs:element name="CustomerId" type="CustomerIdType"/>

              <!-- Order is REQUIRED, but we only validate SpeedFCShippingCode inside it -->
              <xs:element name="Order" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <!-- Validate SpeedFCShippingCode (required) -->
                    <xs:element name="SpeedFCShippingCode" type="SpeedFcShippingCodeType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
