src/main/resources/order.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (Trial) (https://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OrderCollection" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OrderNumber" type="xs:unsignedInt" minOccurs="0" />
                            <xs:element name="OrderCode" type="xs:unsignedLong" minOccurs="0" />
                            <xs:element name="CreateDatetime" type="xs:dateTime" minOccurs="0" />
                            <xs:element name="SiteId" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="BillingAddress" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FirstName" type="xs:string" minOccurs="0" />
                                        <xs:element name="LastName" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="40" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="CompanyName" minOccurs="0" />
                                        <xs:element name="EmailAddress" type="xs:string" minOccurs="0" />
                                        <xs:element name="AddressLine1" type="xs:string" minOccurs="0" />
                                        <xs:element name="AddressLine2" minOccurs="0" />
                                        <xs:element name="City" type="xs:string" minOccurs="0" />
                                        <xs:element name="State" type="xs:string" minOccurs="0" />
                                        <xs:element name="PhoneNumber" type="xs:unsignedLong" minOccurs="0" />
                                        <xs:element name="CountryCode" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CustomerId" type="xs:string" minOccurs="0" />
                            <xs:element name="EmailPreferenceFlag" type="xs:boolean" minOccurs="0" />
                            <xs:element name="GrandDiscountTotal" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="GrandItemsDiscountTotal" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="GrandItemsTotal" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="GrandOrdersDiscountTotal" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="GrandOrdersShippingDiscount" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="GrandShipping" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="GrandSubTotal" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="GrandTax" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="GrandTotal" type="xs:unsignedByte" minOccurs="0" />
                            <xs:element name="OrderCollectionUUID" type="xs:string" minOccurs="0" />
                            <xs:element name="Channel" type="xs:string" minOccurs="0" />
                            <xs:element name="Order" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="StoreNumber" type="xs:string" minOccurs="0" />
                                        <xs:element name="ShippingAddress" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FirstName" type="xs:string" minOccurs="0" />
                                                    <xs:element name="LastName" type="xs:string" minOccurs="0" />
                                                    <xs:element name="CompanyName" minOccurs="0" />
                                                    <xs:element name="EmailAddress" type="xs:string" minOccurs="0" />
                                                    <xs:element name="AddressLine1" type="xs:string" minOccurs="0" />
                                                    <xs:element name="AddressLine2" minOccurs="0" />
                                                    <xs:element name="City" type="xs:string" minOccurs="0" />
                                                    <xs:element name="State" type="xs:string" minOccurs="0" />
                                                    <xs:element name="PhoneNumber" type="xs:unsignedLong" minOccurs="0" />
                                                    <xs:element name="CountryCode" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="OrderDiscountTotal" type="xs:unsignedByte" minOccurs="0" />
                                        <xs:element name="OrderItemsDiscountTotal" type="xs:unsignedByte" minOccurs="0" />
                                        <xs:element name="OrderItemsListPriceTotal" type="xs:decimal" minOccurs="0" />
                                        <xs:element name="OrderItemsTotal" type="xs:decimal" minOccurs="0" />
                                        <xs:element name="OrderShipping" type="xs:decimal" minOccurs="0" />
                                        <xs:element name="OrderShippingDiscount" type="xs:unsignedByte" minOccurs="0" />
                                        <xs:element name="OrderShippingRate" type="xs:decimal" minOccurs="0" />
                                        <xs:element name="OrderSubTotal" type="xs:decimal" minOccurs="0" />
                                        <xs:element name="OrderTax" type="xs:decimal" minOccurs="0" />
                                        <xs:element name="OrderTotal" type="xs:decimal" minOccurs="0" />
                                        <xs:element name="OrderUUID" type="xs:string" minOccurs="0" />
                                        <xs:element name="SpeedFCShippingCode" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="SMRT" />
                                                    <xs:enumeration value="FGHM" />
                                                    <xs:enumeration value="USGA" />
                                                    <xs:enumeration value="FEG" />
                                                    <xs:enumeration value="FSP" />
                                                    <xs:enumeration value="FXPX" />
                                                    <xs:enumeration value="UPM" />
                                                    <xs:enumeration value="PB1" />
                                                    <xs:enumeration value="FDIP" />
                                                    <xs:enumeration value="UFCM" />
                                                    <xs:enumeration value="FEPO" />
                                                    <xs:enumeration value="FEES" />
                                                    <xs:enumeration value="FEGD" />
                                                    <xs:enumeration value="FREIGHT" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ResidentialFlag" type="xs:string" minOccurs="0" />
                                        <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CategoryID" type="xs:unsignedByte" minOccurs="0" />
                                                    <xs:element name="ItemTax" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="ItemTaxPercentage" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="ItemTaxTotal" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="ItemDiscount" type="xs:unsignedByte" minOccurs="0" />
                                                    <xs:element name="ItemDiscountQuantity" type="xs:unsignedByte" minOccurs="0" />
                                                    <xs:element name="ItemDiscountTotal" type="xs:unsignedByte" minOccurs="0" />
                                                    <xs:element name="ItemId" type="xs:unsignedInt" minOccurs="0" />
                                                    <xs:element name="ItemListPrice" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="ItemListPriceTotal" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="ItemQuantity" type="xs:unsignedByte" minOccurs="0" />
                                                    <xs:element name="ItemTotal" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="ItemUUID" type="xs:string" minOccurs="0" />
                                                    <xs:element name="Name" type="xs:string" minOccurs="0" />
                                                    <xs:element name="Price" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="ProductId" type="xs:unsignedInt" minOccurs="0" />
                                                    <xs:element name="Sku" type="xs:unsignedInt" minOccurs="0" />
                                                    <xs:element name="Style" type="xs:unsignedInt" minOccurs="0" />
                                                    <xs:element name="TaxableFlag" type="xs:boolean" minOccurs="0" />
                                                    <xs:element name="UPC" type="xs:string" minOccurs="0" />
                                                    <xs:element name="DCNumber" type="xs:string" minOccurs="0" />
                                                    <xs:element name="Presale" type="xs:boolean" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>